
/* font style */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Playfair+Display:wght@800&family=Poppins:wght@200;300;500;600;700&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Yellowtail&family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Inter:wght@300&family=Playfair+Display:wght@800&family=Poppins:wght@200;300;500;600;700&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&family=Yellowtail&family=Yeseva+One&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin: 0;

}

/* media queries */
@media  only screen and (max-width:688px)
{


    .header{
        margin-left: 0px;
        margin-right: 0px;
    }
    #cart{
        font-size: 10px;
        position: relative;
        left: 80px;
    }
    .anchor{
        display: none;
    }
    .headline{
        font-size: 14px;
        position:relative;
        top:-30px;
        left: 45px;
    }
    .menu{
        position:relative;
        left: -300px;
        
    }
    .images{
        background-image: url(images/Circle\ design.svg);
        position:relative;
        left: 5px;
        top:-50px ;
        height: 250px;
        width: 250px;
    }
    .images img{
        height: 250px;
        width: 250px;
    }
    .start-section{
        position: absolute;
        left: 100px;
        top: 180px;
        display:flex;
        flex-direction:column-reverse;
    }
    #top{
        font-size: 34px;
        position:relative;
        left: 5px;
        top:-50px ;
        text-align: center;
    }
    #para{
        position:relative;
        left: 5px;
        top:-50px ;
    }
    #preebook-now{
        position:relative;
        left: 50px;
        top:-50px ;
    }
    #logo{
        display:none ;
    }
    .Popular{
        font-size: 28px;
        text-align: center;
        position:relative;
        left: 0px;
        top:500px ;
    }
    #colections{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        position:relative;
        left:-80px;
        top:500px ;
    }
    #see{
        position:relative;
        left:300px;
        top:500px ;
    }
    #foot{
        position:relative;
        left:0px;
        top:700px ;
    }
    
}
@media  only screen and (max-width:1024px)
{
    .header{
        margin-left: 0px;
        margin-right: 0px;
    }
    #cart{
        font-size: 10px;
        position: relative;
        left: 100px;
    }
    .anchor{
        display: none;
    }
    .headline{
        font-size: 34px;
        position:relative;
        top:-30px;
        left: 45px;
    }
    .menu{
        position:relative;
        left: -300px;
        
    }
    .images{
        background-image: url(images/Circle\ design.svg);
        position:relative;
        left: 5px;
        top:-50px ;
        height: 250px;
        width: 250px;
    }
    .images img{
        height: 250px;
        width: 250px;
    }
    .start-section{
        position: absolute;
        left: 100px;
        top: 180px;
        display:flex;
        flex-direction:column-reverse;
    }
    #top{
        font-size: 34px;
        position:relative;
        left: 5px;
        top:-50px ;
        text-align: center;
    }
    #para{
        position:relative;
        left: 5px;
        top:-50px ;
    }
    #preebook-now{
        position:relative;
        left: 50px;
        top:-50px ;
    }
    #logo{
        display:none ;
    }
    .Popular{
        font-size: 28px;
        text-align: center;
        position:relative;
        left: 0px;
        top:300px ;
    }
    #colections{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        position:relative;
        left:-80px;
        top:300px ;
    }
    #see{
        position:relative;
        left:300px;
        top:500px ;
    }
    #foot{
        position:relative;
        left:0px;
        top:700px ;
    }
    
}


/* header style */
.header{
    margin-left: 120px;
    margin-right: 120px;
}
nav {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    
}
.anchor a{
    padding-left: 34px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    position: relative;
    left: 100px;
    
}
.menu{
    position: relative;
    top: 88px;
    right: 50px;
    font-size: 20px;
}
.anchor{
    margin-top: 85px;
}
#cart{
    padding-left: 34px;
    font-size: 16px;
    text-decoration: none;
    color: black;
    margin-top: 95px;
}

.headline{
    margin-top: 102px;
}
/* main style */
.top-line{
    font-size:52px;
    font-weight: 700px;
    margin-right: 120px;
    position: relative;
    left: 120px;
}
.start-section{
    display: flex;
}
.blogs{
   padding-right:133px;
   font-weight: 16px;
   position: absolute;
   left: 120px;
   right: 600px;
   top: 400px;   
}
.preebook{
    background-color: #E02C6D;
    color: white;
    border: none;
    border-radius: 41px;
    padding: 10px 24px;
    position: absolute;
    width: 196px;
    height: 44px;
    left: 120px;
    top: 511px; 
    font-size: 16px;
}
.preebook .fas{
    margin-left: 8px;
    color: white;
}
.images{
    background-image: url(images/Circle\ design.svg);
    margin-right: 120px;
}
.logos{
    display: flex;
    justify-content: space-between;
    border-top:1px solid lightgray;
    border-bottom: 1px solid lightgray;
    margin: 120px 100px;
    padding-top: 21px;
    padding-bottom: 48px;
}

/* Popular collection style */
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 140px;
    margin-right: 150px;
}
.Popular{
    font-size: 28px;
    text-align: center;
}
.product{
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
    margin: 10px;

}
.product img{
    height: 250px;
    width: 300px;
}
.product img:hover{
    height: 300px;
    width: 350px;
}
.product-details{
    width: 220px;
    padding-top: 10px;
    font-size: 16px;
    color:#787885;
    ;
}
.product-name{
    font-weight: 500px;
    font-size: 28px;
}
.price{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 100px;
    
}
.rating a{
    color:#FB8200;
    font-size: 11px;
    
}
.rate{
    padding-left: 5px;
}

.product-info{
    font-size: 10px;
}

/* see more style */
.see-more{
    color:#E02C6D;
    position: relative;
    left: 1025px;
    
}
.see-more .fas{
    padding-left: 10px;
    color: #E02C6D;
}

/* footer style */
.footer{
    background-color: #0b0b1d;
    color: white;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 200px;
}
.footer-blog{
    font-size: 14px;
}
.footer-icon{
    margin-top: 20px;
}
.footer-icon a{
    font-size: 18px;
    background-color: #222246;
    color: white;
    border-radius:45%;
    padding: 5px 10px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}
